body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  #container {
    display: flex;
    width: 100%;
  }
  
  #left-pane {
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
  }
  
  #left-pane ul li {
    margin: 5px 0;
    display: flex;
    align-items: center;
  }
  
  #left-pane ul li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #right-pane {
    flex: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  #interactive-div {
    width: 500px;
    height: 100px;
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #interactive-div input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
  }
  
  #buttons-container button {
    margin: 5px;
  }
  
  #generate-html-button {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
  }
  
  #generated-html {
    margin-top: 10px;
    width: 95%;
    height: 350px;
    padding: 10px;
    font-family: monospace;
   /* resize: none;*/
  }
