
  body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  #container {
    display: flex; 
    width: 100%;
  }
  
  #left-pane {
    /* flex: 1; */
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
  }
  
  #left-pane ul li {
    margin: 5px 0;
    display: flex;
    align-items: center;
  }
  
  #left-pane ul li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #right-pane {
    flex: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
 /*  #interactive-div {
    border: 1px solid #000;
    padding: 10px;
     width: 500px;
    height: 100px; 
   display: flex;
    flex-direction: column;
    align-items: center;
     overflow: auto; 
  }*/
  
  #interactive-div input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
  }
   #buttons-container {
    border: 1px solid #000;
    position: relative;

  }
  #buttons-container button {
    margin: 5px;
  }
  
  #generate-html-button {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
  }
  
  #generated-html {
    margin-top: 10px;
    width: 95%;
    height: 350px;
    padding: 10px;
    font-family: monospace;
   /* resize: none;*/
  }
  #hi-output {
    border-width: 10px;
    border-radius: 10px;
  }



        .tooltip {
            position: relative;
            cursor: pointer;
        }
        .tooltip-text {
            visibility: hidden;
            background-color: black;
            color: white;
            text-align: center;
            border-radius: 5px;
            padding: 5px;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
        }
        .tooltip:hover .tooltip-text {
            visibility: visible;
        }


/* Стили для кнопок */
.movable {
  position: relative;
  cursor: grab;
}

/* manual-auto mode */
.mode-switcher {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.mode-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s;
  background-color: #f5f5f5;
}

.mode-button.active {
  filter: brightness(0.8);
  border-color: #007bff;
}

.mode-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

.mode-label {
  font-weight: bold;
  color: #333;
  text-align: center
}